<% layout('layout/boilerplate') -%>

<section style="font-size: 1rem;">
    <article>
        <div class="view jarallax" style="height: 100%; background-image: url('./img/bannerHome.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
            <a class="navbar-brand font-weight-bold ml-5 mt-3" href="#">
                <svg class="animated bounce" enable-background="new 0 0 128 128" id="Слой_1" version="1.1"
                    viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 50;">
                    <g>
                        <path
                            d="M100.6,50.9h-4c0,17.9-14.6,32.5-32.5,32.5S31.7,68.8,31.7,50.9h-4C27.7,71,44,87.3,64.1,87.3   S100.6,71,100.6,50.9z"
                            fill="#3EBBC4" />
                        <path
                            d="M61.7,123.6c0.8,0.6,1.6,1,2.5,1c0,0,0.1,0,0.1,0c0.2,0,0.4,0,0.6-0.1c0.4-0.1,0.7-0.2,0.9-0.4   c0,0,0,0,0.1,0c5.2-3.2,44.5-45.1,45.8-70.8l0-2.4c0-26.2-21.3-47.5-47.5-47.5S16.6,24.7,16.6,50.9c0,0.8,0,1.7,0.1,2.6   c0.7,13.2,11.2,30.1,19.9,42C46,108.3,57.1,120.3,61.7,123.6z M20.7,52.9c-0.1-0.5-0.1-1.3-0.1-2c0-24,19.5-43.5,43.5-43.5   s43.5,19.5,43.5,43.5v2.3c-1.2,22.8-37.2,62.7-43.4,67.2c0,0-0.1,0-0.1,0c-6.3-4.1-42.1-44-43.3-67.3L20.7,52.9z"
                            fill="#3EBBC4" />
                        <path
                            d="M45.1,47.2v25.3h37.8V47.2l2.2,2.2l2.8-2.8l-5-5V27.3h-9.6v4.7L64,22.7L40.1,46.6l2.8,2.8L45.1,47.2z    M77.2,41.6V31.3h1.6v11.6v0.3v25.3H49.1V43.2L64,28.3L77.2,41.6z"
                            fill="#3EBBC4" />
                    </g>
                </svg>
                <span class="animated fadeIn mr-0"
                    style="font-family: 'Rock Salt', cursive; color: #3EBBC4; font-size:14px;"> COURTIER</span>
                <span class="animated fadeIn red-text" style="font-family: 'Rock Salt', cursive; font-size:14px;">-DZ</span>
            </a>
            <div class="container-fluid py-5">
                <h1 class="display-4 font-weight-bold animated slideInLeft my-5 ml-5">look like an expert <br> right from the start Hello word</h1>
                <h4 class="text-muted animated slideInLeft delay-1s ml-5">Head start your stylish website with a gorgeous template</h4>
                <hr class="mt-0 mb-5 ml-5 animated jackInTheBox delay-3s" style="width: 200px ;border:3px solid #21d192;">
                <a href="/login" class="btn btn-dark waves-effect animated jackInTheBox delay-2s py-2 my-0 ml-5" style="border: 0.5px solid #212121"><i class="fas fa-fingerprint mr-1"></i> Connexion</a>
                <a href="/register" class="btn waves-effect animated jackInTheBox delay-2s py-2 my-0 ml-xl-0 ml-lg-0 ml md-0 ml-sm-0 ml-5" style="border: 0.5px solid #616161;"><i class="fas fa-sign-in-alt mr-1"></i> Inscription</a>
            </div>
        </div>
    </article>

    <article class="container">

        <div class="text-center dark-grey-text pt-4">
            <h4 class="font-weight-bold mt-2 mb-1 pb-2">Déposez une information de vente immobilière <br> en 2 minutes et arrondissez vos fins de mois</h4>
            <a href="/showcase/tips" class="btn btn-default btn-rounded waves-effect px-5 py-2 mb-4"><i class="far fa-lightbulb mr-1"></i> Découvrez les astuces</a>
            <p class="lead grey-text mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="row">

                <div class="col-md-4 mb-4">
                    <i class="fas fa-bullhorn fa-3x text-default"></i>
                    <h5 class="font-weight-bold my-4">Étape 1</h5>
                    <p class="grey-text mb-md-0">Communiquez les informations des biens<br> en vente autour de vous.</p>
                </div>

                <div class="col-md-4 mb-4">
                    <i class="fas fa-chart-line fa-3x text-default"></i>
                    <h5 class="font-weight-bold my-4">Étape 2</h5>
                    <p class="grey-text mb-md-0">Suivez la progression de la signature du mandat<br> entre le propriétaire et le professionnel.</p>
                </div>

                <div class="col-md-4 mb-4">
                    <i class="fas fa-hand-holding-usd fa-3x text-default"></i>
                    <h5 class="font-weight-bold my-4">Étape 3</h5>
                    <p class="grey-text mb-0">Percevez la prime dès la signature du<br> contrat de vente.</p>
                </div>

            </div>
        </div>
    </article>

    <article class="mt-4">
        <div class="row mx-0">
            <div class="col-md-3 view px-0">
                <img src="./img/bannerRow.jpg" class="img-fluid" alt="ImageRow">
                <div class="mask pattern-3 flex-center">
                    <h5 class="white-text"><i class="fas fa-city mr-1"></i> <u>APPARTEMENT</u></h5>
                </div> 
            </div>
            <div class="col-md-3 view px-0">
                <img src="./img/bannerRow_2.jpg" class="img-fluid" alt="ImageRow">
                <div class="mask pattern-3 flex-center">
                    <h5 class="white-text"><i class="fas fa-store mr-1"></i> <u>COMMERCE</u></h5>
                </div>
            </div>
            <div class="col-md-3 view px-0">
                <img src="./img/bannerRow_3.jpg" class="img-fluid" alt="ImageRow">
                <div class="mask pattern-3 flex-center">
                    <h5 class="white-text"><i class="fas fa-feather-alt mr-1"></i> <u>TERRAIN</u></h5>
                </div>
            </div>

            <div class="col-md-3 view px-0">
                <img src="./img/bannerRow_4.jpg" class="img-fluid" alt="ImageRow">
                <div class="mask pattern-3 flex-center">
                    <h5 class="white-text"><i class="fas fa-home mr-1"></i> <u>MAISON</u></h5>
                </div>
            </div>
        </div>
    </article>

    <article class="container my-4">

        <div class="text-center">
            <h4 class="text-muted"><span class="font-weight-bold mr-2" style="color: #3EBBC4"><%= totalSales %></span>
                Annonce your stylish website with a gorgeous</h4>
        </div>

        <hr class="mb-4 mt-3" style="width: 200px ;border-top: 3px solid rgba(0,0,0,0.1);">
        <div class="row ml-2">
            <% for (let sale of sales) { %>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card border-light mb-3" style="max-width: 18rem;">
                    <div class="card-header"
                        style="text-transform: uppercase; background-color: white; color: #3EBBC4; font-size: 13px;">
                        <strong class="mr-2"><%= sale.typeOfProperty %></strong><span
                            class="badge badge-info"><%= sale.transaction %></span>
                    </div>
                    <div class="card-body text-dark py-3" style="background-color: rgba(62, 69, 81, 0.05);">
                        <% if (sale.state === 'pending') { %>
                        <span class="badge badge-warning float-right pt-1">en attente</span>
                        <% } else if (sale.state === 'wrong') { %>
                        <span class="badge badge-danger float-right pt-1">erroné</span>
                        <% } else { %>
                        <span class="badge badge-success float-right pt-1">confirmé</span>
                        <% } %>
                        <h6 class="card-title mb-0"><%= sale.city %></h6>
                        <p class="card-text my-1"><%= moment(sale.created).format('LLL') %></p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn mt-2 mb-0 ml-0 py-1 px-3"
                            style="border: 1px solid #3EBBC4; color: #3EBBC4;">
                            Detail
                        </button>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

        <div class="text-center">
            <a href="/sale/index" class="btn mt-2 mb-0 ml-0 py-1 px-3"
                style="border: 1px solid #3EBBC4; color: #3EBBC4;">Voir plus <i
                    class="fas fa-long-arrow-alt-right ml-1"></i></a>
        </div>

    </article>

    <article class="view jarallax" style="min-height: 250px;">
        <img class="jarallax-img" src="./img/bannerHome_2.jpg" alt="img-parallax">
    </article>

    <article class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <h1>F.A.Q</h1>
                <p>
                    Vous avez des questions sur nos services ? Consultez notre FAQ pour comprendre le principe de Lok-iz et son apport sur votre activité.
                    <a href="/showcase/tips">Voir plus</a>
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <div class="accordion md-accordion" id="accordion_1" role="tablist" aria-multiselectable="true">

                    <div class="card">
                        <div class="card-header" role="tab" id="heading_1">
                            <a class="collapsed black-text" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_1" aria-expanded="false" aria-controls="collapse_1">
                                <h5 class="mb-0">Comment ca marche ? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <div id="collapse_1" class="collapse" role="tabpanel" aria-labelledby="heading_1" data-parent="#accordion_1">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="heading_2">
                            <a class="collapsed black-text" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                <h5 class="mb-0">Combien je gagne sur Courtier-dz ? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <div id="collapse_2" class="collapse" role="tabpanel" aria-labelledby="heading_2" data-parent="#accordion_1">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="heading_3">
                            <a class="collapsed black-text" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                <h5 class="mb-0">Comment touver un bien a vendre ? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <div id="collapse_3" class="collapse" role="tabpanel" aria-labelledby="heading_3" data-parent="#accordion_1">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="heading_4">
                            <a class="collapsed black-text" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                <h5 class="mb-0">J'ai vu une pancarte "A VENDRE" d'une agence,<br> je peux la mettre sur Courtier-dz ? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <div id="collapse_4" class="collapse" role="tabpanel" aria-labelledby="heading_4" data-parent="#accordion_1">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <article class="container mb-4">
        <div class="row">
            <div class="col-md-6">
                <h1>Facilitez vos revenus</h1>
                <p>
                    Avec Lok-iz, complétez vos revenus n'a jamais été aussi simple ! Déposez vos recommandations et touchez les primes proposées par nos professionnels.
                </p>     
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3-ZHwqdYhhQ" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </article>
</section>
